#!/bin/bash

#
# This is an example set-up file for runMultiwfn
#

# Print all information by default
stay_quiet=0

# Specify default Walltime, this is only relevant for remote
# execution as a header line for PBS.
requested_walltime="24:00:00"

# Specify a default value for the memory
requested_KMP_STACKSIZE=64000000 

# This corresponds to  nthreads=<digit(s)> in the settings.ini
# <digit(s)> is equal to the number of processes to be used
requested_numCPU=4

# Use the graphical interface (yes/no)
# This needs a different binary
request_gui_version="yes"

# The following two lines give the location of the installation 
installpath_Multiwfn_gui="$HOME/local/multiwfn/multiwfn.current"
installpath_Multiwfn_nogui="" # Disabled if empty

# Request default execution mode (i.e. could be set to remote)
# (Setting this here is not tested yet; be careful.)
execmode="default"

# Select a queueing system (pbs-gen/bsub-rwth)
request_qsys="pbs-gen"

# Account to project (only for rwth)
bsub_rwth_project="default"

# By default clean up the temporary setting.ini
settingsini_nocleanup="false"

